@import "tailwindcss";

.submenu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-6px);
  transition:
    max-height 0.35s cubic-bezier(.4,0,.2,1),
    opacity 0.25s ease,
    transform 0.25s ease;
}

.submenu.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}
